<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="Laurent Burais">
  <title>Virtual Smart Trainer</title>
  <!-- Foundation for Sites CSS -->
  <link rel="stylesheet" href="../node_modules/foundation-sites/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/foundation-sites/dist/css/mdb.min.css">
  <link rel="stylesheet" href="../node_modules/foundation-sites/dist/css/style.css">
  <!-- Custom styles for this template -->
  <link href="./ftms.css" rel="stylesheet">
</head>
<body>
  <!--Topbar-->
  <div class="topbar">
    <h3>Virtual Smart Trainer</h3>
  </div>
  <!--/topbar-->

  <!--Main-->
  <div class="grid-x">
    <!--Column 1-->
    <div class="cell small-3">
      <h4>Tacx T1932</h4>
    </div>
    <!--/Column 1-->
    <!--Column 2-->
    <div class="cell small-3">
      <h4>Application</h4>
    </div>
    <!--/Column 2-->
    <!--Column 3-->
    <div class="cell auto">
      <h4>Logs</h4>
    </div>
    <!--/Column 3-->
  </div>
  <!--/Main-->

  <!-- ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- MDBootstrap core JavaScript -->
  <script type="text/javascript" src="../node_modules/foundation-sites/dist/js/jquery.min.js"></script>
  <script type="text/javascript" src="../node_modules/foundation-sites/dist/js/popper.min.js"></script>
  <script type="text/javascript" src="../node_modules/foundation-sites/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../node_modules/foundation-sites/dist/js/mdb.min.js"></script>
  <!-- Custom JavaScript -->
  <script src="./ftms.js"></script>
</body>
</html>
