<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./public/css/bootstrap.min.css" rel="stylesheet">
    <link href="./public/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="./public/css/style.css" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="180x180" href="./public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./public/favicon-16x16.png">
    <link rel="manifest" href="./public/site.webmanifest">

    <script src="./lib/socket.io.js"></script>
    <script src="./lib/jquery-3.3.1.slim.min.js"></script>
    <script src="./lib/popper.min.js"></script>
    <script src="./lib/bootstrap.min.js"></script>
    <script src="./lib/bootstrap-toggle.min.js"></script>

    <title>ergoFACE Server</title>

    <style>
      .progress {
        margin-bottom: 20px;
        width: 100%;
        font-size: 1.5em;
        font-weight: bold;
        height: 60px;
      }
      .alert {
        margin-bottom: 1px;
        /* height: 30px;
        line-height:30px; */
        padding:2px 2px;
        max-width: 100%;
        font-size: 0.75em;
      }
      .jumbotron {
        padding: 1rem 1rem;
      }
      .progress-bar {
        color: #21252C;
      }
      .scroll {
        max-height: 420px;
        overflow-y: auto;
      }
    </style>
    <script type="text/javascript">
      var socket = io(); // changed in server.js to get the IP and dont put it in static
      ///////////////////////////////////////////////////////////////////////////
      // alert messages
      ///////////////////////////////////////////////////////////////////////////
      function addAlert_raw(message) {
        if ($('#messages_raw').is(':checked'))
          {
            $('#alerts').prepend('<div class="alert alert-secondary text-left small">[Raw] ' + new Date().toISOString().replace(/T/, ' ').replace(/\..+/, '') + ': <b>' + message + '</b></div>');
          }
      };
      socket.on('raw', function (data) {
        addAlert_raw(data);
        $('#receiveDataRS232').text("1");
        setTimeout(function() {
          $('#receiveDataRS232').text(function(){
            return "0"
          });
        }, 500);
      });
      function addAlert_error(message) {
        if ($('#messages_error').is(':checked'))
          {
            $('#alerts').prepend('<div class="alert alert-danger text-left small">[Err] ' + new Date().toISOString().replace(/T/, ' ').replace(/\..+/, '') + ': <b>' + message + '</b></div>');
          }
      };
      socket.on('error', function (data) {
        addAlert_error(data);
      });
      function addAlert_key(message) {
        if ($('#messages_key').is(':checked'))
          {
            $('#alerts').prepend('<div class="alert alert-primary text-left small">[Key] ' + new Date().toISOString().replace(/T/, ' ').replace(/\..+/, '') + ': <b>' + message + '</b></div>');
          }
      };
      socket.on('key', function (data) {
        // place here an if for a toggle element, to switch on or off messages
        // https://stackoverflow.com/questions/5539139/change-get-check-state-of-checkbox
        addAlert_key(data);
      });
      ///////////////////////////////////////////////////////////////////////////
      // ergometer values
      ///////////////////////////////////////////////////////////////////////////
      socket.on('speed', function (data) {
        $('#speed').html(data);
        $('#speed_bar').css("width", data * 1.4+ "%");
        $('#speed_bar').attr("aria-valuenow", data);
        var progressBar = $('#speed_bar')
        progressBar.width(data * 1.4 + "%")
        $('#speed_bar').text(data + " km/h");
      });
      socket.on('hr', function (data) {
        $('#hr').html(data);
        $('#hr_bar').css("width", data * 0.435+ "bmp");
        $('#hr_bar').attr("aria-valuenow", data);
        var progressBar = $('#hr_bar')
        progressBar.width(data * 0.435 + "bpm")
        $('#hr_bar').text(data + " bpm");
      });
      socket.on('rpm', function (data) {
        $('#rpm').html(data);
        $('#rpm_bar').css("width", data * 0.7 + "%");
        $('#rpm_bar').attr("aria-valuenow", data);
        var progressBar = $('#rpm_bar')
        progressBar.width(data * 0.7 + "%")
        $('#rpm_bar').text(data + " / min");
      });
      socket.on('power', function (data) {
        $('#power').html(data);
        $('#power_bar').css("width", data * 0.125 + "%");
        $('#power_bar').attr("aria-valuenow", data);
        var progressBar = $('#power_bar')
        progressBar.width(data * 0.125 + "%")
        $('#power_bar').text(data + " Watt");
      });
      socket.on('simpower', function (data) {
        $('#simpower').text(data);
        // $('#simpower_bar').css("width", data/8 + "%");
        // $('#simpower_bar').attr("aria-valuenow", data);
        // var progressBar = $('#speed_bar')
        // progressBar.width(data/8 + "%")
        // $('#simpower_bar').text(data + " W");
      });
      socket.on('windspeed', function (data) {
        $('#windspeed').text(data);
      });
      socket.on('crr', function (data) {
        $('#crr').text(data);
      });
      socket.on('cw', function (data) {
        $('#cw').text(data);
      });
      socket.on('grade', function (data) {
        $('#grade').text(data);
      });
      socket.on('gear', function (data) {
        $('#gear').text("Gear: " + data);
      });
      socket.on('program', function (data) {
        $('#program').text("Program: " + data);
      });
      socket.on('preset_servo', function (data) {
                 addAlert_key(data[0] + ' ' + data[1]);
        document.getElementById("range_servo_min").value = data[0];
        document.getElementById("range_servo_max").value = data[1];
        document.getElementById("range_gear").min = data[0];
        document.getElementById("range_gear").max = data[1];
        document.getElementById("range_gear").value = data[2];
        document.getElementById("gear_val").innerHTML = data[2];

      });
     // socket.on('control', function (data) {
     //   $('#control').text(data);
     //   if (data === 'SIM MODE' || data === 'ERG MODE') { // as soon as BLE takes over control, the toggle buttons are going to be disabled
     //     $('#switch').bootstrapToggle('disable')
     //     $('#mode').bootstrapToggle('disable')
     //   }
     //   if (data === 'disconnected') {
     //     $('#switch').bootstrapToggle('enable')
     //     $('#mode').bootstrapToggle('enable') 
      //  }
      //});
      socket.on('version', function (data) {
        $('#version').text(data);
      });
      ///////////////////////////////////////////////////////////////////////////
      // Functions and interaction
      ///////////////////////////////////////////////////////////////////////////
      $(function () {
        var socket = io();
        $('#restart').click(function(){
          socket.emit('restart', 'Salut serveur, ça va ?');
          return false;
        });
        $('#reconnect').click(function(){
          socket.emit('reco', 'reco');
          return false;
        });
        $('#servosetting').change(function(){
          if( $(this).is(':checked') ) {
            document.getElementById("range_servo").style.visibility="visible";
            socket.emit('servosetting', 'on');
          } else {
            document.getElementById("range_servo").style.visibility="collapse";
            socket.emit('servosetting', 'off');
          }
          return false;
        });
        $('#measuringtoggle').change(function(){
          if( $(this).is(':checked') ) {
            document.getElementById("measuring").style.visibility="visible";
            socket.emit('measuring', 'on');
          } else {
            document.getElementById("measuring").style.visibility="collapse";
            socket.emit('measuring', 'off');
          }
          return false;
        });
        
        
        $('#stop').click(function(){
          socket.emit('stop', 'stop');
          return false;
        });
        $('#start').click(function(){
          socket.emit('start', 'start');
          return false;
        });
        $('a.dropdown-item.gear').click(function() {
          var id = $(this).attr('id');
          var idd = id.replace('gear_', '');
          socket.emit('setGear', idd);
          return false;
        });
      });
      // Slider Functions
        

        function showVal(newVal,caller){
            if (caller === 'change_min' || caller === 'change_max') {
                var new_servo_val=[newVal,caller]
                socket.emit('new_servo_val', new_servo_val);
            }
            document.getElementById("servo_val").innerHTML = newVal;
        }
        function gearVal(newVal){
                var new_gear_val=[newVal]
                socket.emit('new_gear_val', new_gear_val);
            document.getElementById("gear_val").innerHTML = newVal;
        } 


    </script>
  </head>
<body>
  <div class="wrapper">
    <div class="content">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <!-- <img src="./public/favicon-32x32.png" class="rounded float-left" alt="ergoFACE"> -->
          <a class="navbar-brand font-small" href="#">ergoFACE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  set Gear
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuGear">
                  <a class="dropdown-item gear" id="gear_01" href="#">01</a>
                  <a class="dropdown-item gear" id="gear_03" href="#">03</a>
                  <a class="dropdown-item gear" id="gear_05" href="#">05</a>
                  <a class="dropdown-item gear" id="gear_07" href="#">07</a>
                  <a class="dropdown-item gear" id="gear_09" href="#">09</a>
                  <a class="dropdown-item gear" id="gear_11" href="#">11</a>
                </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" id="restart"><strong>RESTART</strong></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" id="reconnect"><strong>RECONNECT</strong></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" id="stop"><strong>STOP</strong></a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row">
          <div class="col-md-4">
            <div class="card text-center"> 
                <div class="card-header">
                    <input type="checkbox" id="servosetting" unchecked data-toggle="toggle" data-on="Servosetting On" data-off="Servosetting Off" data-onstyle="primary" data-offstyle="secondary">
                    <input type="checkbox" id="measuringtoggle" unchecked data-toggle="toggle" data-on="Measuring On" data-off="Measuring Off" data-onstyle="primary" data-offstyle="secondary">
            <table style="width:100%">
                <tbody  id="range_servo" style="visibility: collapse;">
                    <tr>
                        <td width="15%">
                            <h5 class="title">nearest: </h5>
                        </td>
                    <td>
                        <div class="slidecontainer">
                            <input type="range" min="900" max="2100" value="900" class="slider" id="range_servo_min" style="width: 100%; " oninput="showVal(this.value, 'input_min')" onchange="showVal(this.value,'change_min')">
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <h5 class="title">widest: </h5>
                        </td>
                    <td>
                        <div class="slidecontainer">
                            <input type="range" min="900" max="2100" value="900" class="slider" id="range_servo_max" style="width: 100%; " oninput="showVal(this.value, 'input_max')" onchange="showVal(this.value,'change_max')">
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="title">Value: </h5>
                        </td>
                        <td>
                            <h5 class="title" id="servo_val"> </h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="width:100%">
                <tbody  id="measuring" style="visibility: collapse;">
                    <tr>
                        <td width = "65%">
                            <h5 class="title">1. Select Gear to set up.</h5>
                        </td>    
                        <td rowspan="5">
                             <input type="button" id="measuring_start" value="Start" onclick="msg()"> 
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            <h5 class="title">2. Start pedaling</h5>
                        </td>    
                    </tr>
                    <tr>
                        <td>
                            <h5 class="title">3. Stop pedaling</h5>
                        </td>    
                    </tr>
                    <tr>
                        <td>
                            <h5 class="title">4. Hit Start button.</h5>
                        </td>    
                    </tr>
                    <tr>
                        <td>
                            <h5 class="title">5. Wail until wheel stops. -> Repeat with different gear.</h5>
                        </td>    
                    </tr>
                </tbody>
            </table>
                    
                    
                    </div>

              <div class="card-body">

                <h5 class="title">GearSlider</h5>
                <div class="slidecontainer">
                    <input type="range" min="900" max="2100" value="900" class="slider" id="range_gear" style="width: 100%; " oninput="gearVal(this.value, 'input_max')" onchange="gearVal(this.value,'change_max')">
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <h5 class="title">Value: </h5>
                            </td>
                            <td>
                                <h5 class="title" id="gear_val"> </h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="title">Power</h5>
                <!-- <p class="power" id="power">0</p> -->
                <div class="progress">
                  <div id="power_bar" class="progress-bar bg-success" role="progressbar" style="width: 10%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1500"></div>
                </div>
                
                
                

                <h5 class="title">RPM</h5>
                <!-- <p class="rpm" id="rpm">0</p> -->
                <div class="progress">
                  <div id="rpm_bar" class="progress-bar bg-info" role="progressbar" style="width: 10%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="150"></div>
                </div>

                <h5 class="title">Speed</h5>
                <!-- <p class="speed" id="speed">0</p> -->
                <div class="progress">
                  <div id="speed_bar" class="progress-bar bg-warning" role="progressbar" style="width: 10%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="140"></div>
                </div>
                <h5 class="title">Heart-Rate</h5>
                <!-- <p class="hr" id="hr">0</p> -->
                <div class="progress">
                  <div id="hr_bar" class="progress-bar orange" role="progressbar" style="width: 10%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="240"></div>
                </div>
              </div>
              <div class="card-footer text-muted">
                <h1><span id="program" class="badge badge-primary">Program: -</span>
                <span id="gear" class="badge badge-secondary">Gear: -</span></h1>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h5 class="title">Power calculation [W]</h5>
                    <span id="simpower" class="badge badge-primary float-right m-2">0</span>
                    <!-- <div class="progress" style="height: 10px;">
                      <div id="simpower_bar" class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="800"></div>
                    </div> -->
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h5 class="title">Grade [%]</h5>
                    <span id="grade" class="badge badge-primary float-right m-2">0</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h5 class="title">Cw [kg/m]</h5>
                    <span id="cw" class="badge badge-primary float-right m-2">0</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h5 class="title">Windspeed [m/s]</h5>
                    <span id="windspeed" class="badge badge-primary float-right m-2">0</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h5 class="title">Crr []</h5>
                    <span id="crr" class="badge badge-primary float-right m-2">0</span>
                  </li>
                </ul>
              </div>
              <div class="card-footer text-muted">
                BLE: <span id="control" class="badge badge-secondary">-</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-block d-flex text-center" style="height: 100%">
              <div class="card-header">
                <input type="checkbox" id="messages_key" checked data-toggle="toggle" data-on="Key On" data-off="Key Off" data-onstyle="primary" data-offstyle="secondary">
                <input type="checkbox" id="messages_raw" unchecked data-toggle="toggle" data-on="Raw On" data-off="Raw Off" data-onstyle="primary" data-offstyle="secondary">
                <input type="checkbox" id="messages_error" checked data-toggle="toggle" data-on="Err On" data-off="Err Off" data-onstyle="primary" data-offstyle="secondary">
              </div>
              <div class="card-body scroll d-flex">
                  <div class="alert" id="alerts"></div>
              </div>
              <div class="card-footer text-muted">
                RS232<span id="receiveDataRS232" class="badge badge-secondary"></span>
              </div>
            </div>
          </div>
        </div>
        <footer class="page-footer font-small primary">
          <div class="footer-copyright text-center py-3">ergoFACE version:
            <span id="version" class="badge badge-secondary">-</span>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
