ACTION!="add", GOTO="device_end"
SUBSYSTEM=="usb_device", GOTO="device_start"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", GOTO="device_start"
GOTO="device_end"

LABEL="device_start"

ATTR{idVendor}=="3561", ATTR{idProduct}=="1932", MODE="666"

LABEL="device_end"